<a href="https://colab.research.google.com/github/FranciscoJSSantos/Analise_de_Dados_do_Bolsa_Familia/blob/main/Analise_de_Dados_do_Bolsa_Familia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LINK PARA BAIXAR A TABELA DE DADOS NO DRIVE:

- [Dataset_CadastroUnico_Sergipe](https://drive.google.com/drive/folders/1oOvuSPC41LXvvuxFS3jeKCXfFkeSWcI6?usp=sharing)



##ALGUMAS INFORMAÇÕES SOBRE A BASE DE DADOS

- [Mais informações sobre o cadastro único](https://aplicacoes.mds.gov.br/sagirmps/ferramentas/docs/manual_do_pesquisador_cadastro_unico_semlogo.**pdf**)


- [Mais informações sobre o bolsa família](https://aplicacoes.mds.gov.br/sagirmps/ferramentas/docs/manual_do_pesquisador_gestao_bolsa_familia_semlogo.pdf)

---

In [ ]:
# Imports Necessários
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Carrega a base de dados de familia
data = pd.read_csv("/content/drive/MyDrive/Dataset_CadastroUnico_Sergipe/data_familia_sergipe.csv")
data

,cd_ibge,estrato,classf,id_familia,dat_cadastramento_fam,dat_alteracao_fam,vlr_renda_media_fam,dat_atualizacao_familia,cod_local_domic_fam,cod_especie_domic_fam,...,cod_familia_indigena_fam,ind_familia_quilombola_fam,nom_estab_assist_saude_fam,cod_eas_fam,nom_centro_assist_fam,cod_centro_assist_fam,ind_parc_mds_fam,marc_pbf,qtde_pessoas,peso.fam
0,2806206,2,3,183415.0,2006-01-07,2018-09-30,58.0,2018-02-27,1.0,1.0,...,2.0,2.0,P S IVA SALGUEIRO,2421836.0,CRAS CENTRO DE REFERENCIA DA ASSISTENCIA SOCIAL,2.806200e+10,0.0,0,4,550052838636015
1,2803609,2,3,183416.0,2010-03-09,2018-09-30,190.0,2018-07-20,2.0,1.0,...,2.0,2.0,POSTO DE SAUDE RICARDO HAGENBECK,2421380.0,CRAS ANGELA MARIA DE CARVALHO LIMA BOMFIM,2.803602e+10,0.0,0,5,550245146328323
2,2803203,2,3,183417.0,2006-02-25,2018-09-30,100.0,2018-08-21,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,2,550305936601879
3,2805703,2,3,183418.0,2004-05-25,2017-12-15,937.0,2017-11-09,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,0,1,550405659971983
4,2805307,1,3,183419.0,2016-03-31,2018-10-15,25.0,2018-10-15,2.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,1,2,550245146328323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82270,2800308,2,1,4250243.0,2018-12-05,2018-12-05,100.0,2018-12-05,1.0,1.0,...,2.0,2.0,US JOSE QUINTILIANO DA FONSECA SOBRAL CIDADE NOVA,2771.0,CRAS RISOLETA NEVES,2.800300e+10,0.0,1,3,550245146328323
82271,2800308,2,1,4250244.0,2012-10-15,2018-10-01,8.0,2018-08-13,1.0,1.0,...,2.0,2.0,US JOAO BEZERRA AREIA BRANCA,3425.0,CRAS ANTONIO VALENCA ROLLEMBERG,2.800300e+10,0.0,1,3,550245146328323
82272,2800308,2,1,4250245.0,2016-10-19,2018-10-01,97.0,2017-10-18,1.0,1.0,...,2.0,2.0,US ADEL NUNES BAIRRO AMERICA,2305.0,CRAS ENEDINA BOMFIM SANTOS,2.800302e+10,0.0,1,3,550245146328323
82273,2800308,2,1,4250246.0,2016-05-10,2016-05-10,880.0,2016-05-10,1.0,1.0,...,2.0,2.0,NaN,NaN,NaN,NaN,0.0,0,1,550245146328323
82274,2800308,2,1,4250247.0,2018-04-13,2018-10-01,300.0,2018-04-13,1.0,1.0,...,2.0,2.0,US CARLOS FERNANDES DE MELO LAMARAO,3506.0,CRAS DR CARLOS FERNANDES DE MELO,2.800300e+10,0.0,0,1,550245146328323

In [ ]:
# Carrega a base de dados de pessoas
data2 = pd.read_csv("data_pessoas_sergipe.csv")